<div class="container">
    <div class="row ">
        @for (item of movies; track item.id){

            <div class="col py-3">
                <figure class="image-block">
                    <!-- <h1>The Beach</h1> -->
                    <img src="{{item.image}}" alt="" />
                    <figcaption>
                        <h3>
                           {{item.movie}}
                        </h3>
                        <p>{{item.rating}}</p>
                       <button routerLink="/movie/{{item.id}}">Read more </button> 
                       
                    </figcaption>
                </figure>
            </div>
        }
    </div>
</div>